version: '3.8'

services:

  # ----------------------
  # Neo4j Database
  # ----------------------
  neo4j:
    image: neo4j:latest
    volumes:
      - ./neo4j/logs:/logs
      - ./neo4j/conf:/conf
      - ./neo4j/data:/data
      - ./neo4j/plugins:/plugins
      # - ./docker/entrypoint.sh:/docker/entrypoint.sh
      # - ./init:/docker-entrypoint-initdb.d  # <-- Cypher init scripts here
    environment:
      - NEO4J_AUTH=${NEO4J_USERNAME}/${NEO4J_PASSWORD} 
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_dbms_security_procedures_allowlist=apoc.* 
      - NEO4J_PLUGINS='["apoc"]' 
      # - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes # Required for Enterprise Edition

    
    ports:
      - "7474:7474" # Neo4j Browser
      - "7687:7687" # Bolt protocol
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"  # Your custom port mapping
    # volumes:
    #   - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all  # Use all available GPUs
              capabilities: [gpu]
    tty: true
    restart: unless-stopped

  mcp-neo4j-cypher-server:
    image: mcp/neo4j-cypher:latest
    # entrypoint: ["/bin/bash", "/docker/entrypoint.sh"]
    ports:
      - '8082:8082'
    environment:
      - NEO4J_URI=${NEO4J_URI}
      - NEO4J_USERNAME=${NEO4J_USERNAME}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
      - NEO4J_TRANSPORT=http
      - NEO4J_MCP_SERVER_HOST=0.0.0.0 # must be 0.0.0.0 for sse  or http transport in Docker
      - NEO4J_MCP_SERVER_PORT=8082
      - NEO4J_MCP_SERVER_PATH=/mcp/
      # - NEO4J_NAMESPACE=local
    # volumes:
    #   - ./docker/entrypoint.sh:/docker/entrypoint.sh
    
    depends_on:
      - neo4j

  web:
    build: .
    container_name: impact_analyzer_app
    ports:
      - "8090:8090"
    volumes:
      # Mount the current directory to /app in the container
      # This allows:
      # 1. Data persistence (impact.db will be saved on your host machine)
      # 2. Hot reloading (changes to .py files restart the server)
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
      - OLLAMA_HOST=http://ollama:11434
    # Overwrite the default command to enable reload for development
    command: uvicorn main:app --host 0.0.0.0 --port 8090 --reload
    depends_on:
      - neo4j
      - mcp-neo4j-cypher-server
      - ollama